extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Dinar Davis
        p Full Stack JavaScript Developer & All-Around Fun Guy
        .about-bio
          p I love JavaScript, Design, and Star Trek. If you have a project that involves all three, please feel free to contact me. If your project only involves one of the three, I'm still excited to help build something amazing! I look forward to hearing from you.  
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 510.995.0722
          li dinar@myemail.com
        a.btn-link(href='https://www.linkedin.com/in/dinardavis/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/dinarrene' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/DinarDavis' target="_blank") Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back