@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}

article {
    background: rgb(186, 182, 189);
}


h1,h2,h3,h4,p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-transform: uppercase;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p{
    color: rgb(78, 78, 78);
}

.container {
    height: 100%;
    background: rgb(186, 182, 189);
}

.errorPage {
    width: 95%;
    padding-left: 2rem;
}

.errorPage h1 {
    padding-top: 2rem;
    margin: 0;
}

.errorPage a.home {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.box {
    background: rgb(186, 182, 189);
    border-bottom: 1px solid rgb(186, 182, 189);
}

nav {
    background: rgb(186, 182, 189);
    border-bottom: 1px solid  rgb(186, 182, 189);
}

.sidebar .thumbnail {
    padding: 10px;
    border: 3px solid #fff;
  }

.header span {
    font-weight: 500;
}

  .portfolio-intro p {
    border-bottom: 1.7px solid #eaeaea;
  }

  .projects-box h5{
      font-family: 'Montserrat', sans-serif;
  }

  @media screen and (min-width: 768px) {
    .sidebar h5 {
      font-size: 1.4rem;
    }
  }
